.success-message {
  display: flex;
  width: 300px;
  height: 22px;
  padding: 5px;
  margin-top: 20px;
  margin-left: 150px;
  border: 1px solid black;
  align-items: center;
  background-color: lightgrey;
  
  
}
.success-message button {
  margin-left: 142px;
 
}

.success-message--selected{
  display: none;
  
}