.iframe {
    width: 564px;
    height: 666px;
    margin-top: -20px;
    
    
}

.resume-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.resume-link {
    cursor: pointer;
}

#patternpad161{
    max-width: 60%;
    min-width: 40%;
}

.resume-section {
    margin-top: -80px;
}

.resume-section h5 {
    color: black;
    margin-bottom: 25px;
}

.resume-div div {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.iframe-div {
    display: flex;
    display: grid;
}